
 /* dem fonts */
 @font-face {
     font-family: Arial Black, 'Avenir';
     font-weight: bold;
     font-style: normal;
 }
 @font-face {
     font-family: Garamond, 'Minion' ;
     font-weight: normal;
     font-style: normal;
 }
