
 /* dem fonts */
 @font-face {
     font-family: helvetica, 'avenir';
     font-weight: bold;
     font-style: normal;
 }
 @font-face {
     font-family: garamond, 'minion' ;
     font-weight: normal;
     font-style: normal;
 }
