/* style sheet for Final assignment */
/* fonts */
@font-face {
  font-family:"Lucida Sans Unicode", Arial ;
    font-weight: normal;
    font-size: normal;
}
@font-face {
  font-family:"Lucida Sans Unicode", Arial ;
    font-weight: normal;
    font-size: normal;
}

/*colors:

neon green: #40B450
pink: #F29BC0
darker green: #1B4D1B
lighter green: #C5DE9F
*/


body {
  background-color: white;
}
.LeftSideBar {
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 200pt;
  background-color: black;
  margin-left: -1em;
}
