/* style sheet for Final assignment */
/* fonts */
@font-face {
  font-family:"Lucida Sans Unicode", Arial ;
    font-weight: normal;
    font-size: normal;
}
@font-face {
  font-family:"Lucida Sans Unicode", Arial ;
    font-weight: normal;
    font-size: normal;
}

/*colors:

neon green: #40B450
pink: #F29BC0
darker green: #1B4D1B
lighter green: #C5DE9F
*/

html {
  background: url(images/backgroungshoe.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: white;
}
